/* main */

.content__main {
  width: 80%;
  flex: 1;
  background-color: var(--white);
  min-height: 100svh;

  .content__header {
    .content__container {
      display: flex;
      justify-content: space-between;

      .add {
        background-color: var(--white);
        color: var(--display);
        font-size: 12px;
        text-transform: uppercase;
        border: 2px solid var(--display);
        border-radius: 5px;
        padding: 0 12px;
        height: 40px !important;
        cursor: pointer;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        transition: var(--transition);

        &:hover {
          background-color: var(--display);
          color: var(--white);
        }
      }
    }
  }

  .content__nav {
    border-bottom: 1px solid var(--light);
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: var(--gray);

    .content__container,
    .content__before,
    .content__after {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;

      .content__search {
        border: 1px solid var(--light-gray);
        padding: 8px;
        border-radius: 5px;
        color: var(--light-gray);
        min-width: 220px;

        svg {
          transform: translateY(3px);
          cursor: pointer;
        }

        input {
          border: none;
          font-size: 12px;
          width: 88%;
          padding: 0 10px;

          &:focus {
            outline: none;
          }
        }
      }

      .content__notification {
        color: var(--blue);
        position: relative;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          top: -5px;
          right: -5px;
          background: var(--red);
          border-radius: 50%;
          width: 14px;
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white);
          font-weight: 700;
          font-size: 8px;
        }
      }

      .content__user {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        position: relative;

        .content__menu {
          position: absolute;
          right: 0;
          width: 140px;
          background-color: var(--white);
          border-radius: 5px;
          border: 1px solid var(--light-gray);
          bottom: -70px;
          z-index: -1;
          opacity: 0;
          overflow: hidden;

          li {
            white-space: nowrap;
            padding-left: 15px;
            border-bottom: 1px solid var(--light-gray);

            &:hover {
              background-color: var(--display);

              a,
              svg {
                color: var(--white);
              }
            }

            a {
              padding: 5px 10px 5px 4px;
              display: inline-flex;
              text-align: center;
              font-size: 14px;
              color: var(--gray);
            }
          }
        }

        .content__menu--active {
          z-index: 100;
          opacity: 1;
        }

        svg {
          font-size: 10px;
        }

        strong {
          font-size: 13px;
        }

        p {
          font-size: 12px;
        }

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }
    }

    .content__after > svg {
      cursor: pointer;
    }
  }

  .content__container {
    width: 98%;
    margin: 0 auto;
    padding: 15px;

    .content__titles {
      h1 {
        color: var(--black);
        font-size: 25px;
      }

      p {
        color: var(--gray);
        font-size: 16px;
        font-size: 14px;
        margin-top: 6px;
      }
    }
    .h3 {
      font-size: 14px;
      color: var(--gray);
      font-weight: 400;
      margin-bottom: 20px;

      strong {
        color: var(--dark);
        font-weight: 700;
      }
    }
  }

  .content__info {
    .content__container {
      display: flex;
      justify-content: space-between;

      .content__box {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-top: 10px;

        .content__icon {
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          min-width: 45px;
          height: 45px;
        }

        .content__status {
          h3 {
            color: var(--gray);
            font-size: 12px;
            font-weight: 700;
          }

          strong {
            font-size: 22px;
            color: var(--black);
            font-weight: 700;
            margin: 8px 0;
            display: block;
          }

          p {
            color: var(--gray);
            font-size: 12px;
            font-weight: 400;

            span {
              font-weight: 700;
            }

            .green {
              color: #1eb444;
            }

            .red {
              color: #ca2121;
            }
          }
        }
      }

      .content__box:nth-of-type(1) {
        .content__icon {
          background-color: #a695f7;
          color: white;
        }
      }

      .content__box:nth-of-type(2) {
        .content__icon {
          background-color: #ace5cb;
          color: #1db455;
        }
      }

      .content__box:nth-of-type(3) {
        .content__icon {
          background-color: #fcbb12;
          color: #fef3d1;
        }
      }

      .content__box:nth-of-type(4) {
        .content__icon {
          background-color: #7cc4fb;
          color: #fefefe;
        }
      }
    }
  }

  .content__services {
    margin-top: 20px;
    .content__container {
      display: flex;
      .content__second {
        width: 40%;
        .content__performand {
          width: 100%;

          .content__pizza {
            display: flex;
            align-items: center;
            gap: 20px;

            .content__chart {
              width: 250px;
              height: 250px;
            }
          }

          .content__dat {
            width: auto;
            tr {
              &:nth-of-type(1) {
                td:nth-of-type(1) {
                  background-color: #5758ed;
                }
              }

              &:nth-of-type(2) {
                td:nth-of-type(1) {
                  background-color: #2f80ed;
                }
              }

              &:nth-of-type(3) {
                td:nth-of-type(1) {
                  background-color: #27ae60;
                }
              }

              &:nth-of-type(4) {
                td:nth-of-type(1) {
                  background-color: #959292;
                }
              }
              td {
                padding: 0 6px;
                color: var(--dark);
                &:nth-of-type(1) {
                  width: 15px;
                  height: 15px;
                  border-radius: 3px;
                }
              }
            }
          }

          .recharts-responsive-container {
            float: left;
          }
        }
      }

      .content__first {
        width: 60%;
        .content__revenue {
          width: 100%;
        }
      }
    }
  }

  .content__apointments {
    padding-bottom: 30px;
    .content__container {
      display: flex;
      gap: 30px;
      .content__clients {
        width: 65%;
      }

      .content__financial {
        width: 35%;

        a {
          margin-top: 20px;
          background-color: #5352ee;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px;
          color: var(--white);
          font-weight: 700;
          border-radius: 5px;
          transition: var(--transition);

          &:hover {
            background-color: #3131bb;
          }
        }
      }
    }
  }

  .content__clients {
    padding-bottom: 35px;
  }

  .content__finances {
    .content__container {
      .content__tabs {
        .content__selects {
          padding-top: 20px;
          border-top: 1px solid #e3e3ec;
          display: flex;
          gap: 20px;
          align-items: center;
          margin-bottom: 25px;

          .content__select {
            color: #8c8da2;
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
            transition: var(--transition);
            padding-bottom: 8px;
            border-bottom: 2px solid transparent;

            &:hover {
              color: var(--display);
            }
          }

          .content__select--active {
            color: var(--display);
            border-bottom: 2px solid var(--display);
          }
        }

        .content__tab {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          > div {
            width: 50%;
            padding: 0 25px;

            h3 {
              color: #070923;
              font-size: 12px;
              margin-bottom: 20px;
            }

            > div {
              > div {
                background-color: #fcf9d0;
                display: flex;
                gap: 12px;
                align-items: center;

                > span {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  min-width: 45px;
                  min-height: 45px;
                  border-radius: 50%;
                  color: var(--white);
                  background-color: var(--display);
                  font-size: 22px;
                }

                .bank,
                .paypal {
                  color: var(--display);
                  background-color: #d6e6fc;
                }

                .ret {
                  background-color: #f58a1c;
                }

                .add {
                  background-color: #49c376;
                }

                .build {
                  background-color: #3a88ef;
                }

                p {
                  strong {
                    display: block;
                    color: #3f475b;
                    font-size: 13px;
                    margin-bottom: 2px;
                  }

                  span {
                    color: #3f475b;
                    font-size: 11px;
                    white-space: nowrap;
                  }
                }
              }
            }

            .content__grid {
              display: grid;
              grid-template-columns: repeat(2, 50%);
              grid-template-rows: repeat(2, auto);
              gap: 12px;
              width: 100%;

              .content__element {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                border-radius: 8px;
                cursor: pointer;

                span {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 20px;
                }

                p {
                  display: flex;
                  flex-direction: column;
                  margin: 0;

                  strong {
                    font-size: 14px;
                  }

                  span {
                    font-size: 12px;
                    display: block;
                  }
                }
              }
            }

            .content__banks {
              display: flex;
              flex-direction: column;
              gap: 12px;

              .content__bank {
                .content__dots {
                  width: 50%;
                  float: right;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  font-size: 12px;
                  justify-content: flex-end;

                  .verificado {
                    background-color: #c7e1ce;
                    color: #1db455;
                    padding: 3px;
                    border-radius: 5px;
                    font-size: 10px;
                    font-weight: 700;
                  }

                  .analise {
                    background-color: #e2dec6;
                    color: #d8bd37;
                    padding: 3px;
                    border-radius: 5px;
                    font-size: 10px;
                    font-weight: 700;
                  }

                  svg {
                    cursor: pointer;
                  }
                }
              }

              .add {
                color: var(--display);
                border: 1px dotted var(--display);
                padding: 10px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                gap: 5px;
                transition: var(--transition);

                svg {
                  font-size: 10px;
                }

                &:hover {
                  color: var(--white);
                  background-color: var(--display);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .content__main {
    .content__info {
      .content__container {
        gap: 15px;
        flex-wrap: wrap;
        .content__box {
          width: calc(33.33% -15px);
        }
      }
    }

    .content__services {
      .content__container {
        .content__first {
          width: 55%;
        }

        .content__second {
          width: 45%;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .content__apointments {
    gap: 10px;

    .content__container {
      flex-direction: column;
      width: 100%;
      overflow-x: hidden;

      .content__clients {
        width: 100% !important;
      }
    }
  }

  .content__finances {
    .content__container {
      .content__tabs {
        .content__tab {
          flex-direction: column;

          > div {
            width: 100% !important;

            .content__banks {
              & .content__bank {
                .content__dots {
                  width: 80% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 823px) {
  .content__main {
    .content__services {
      .content__container {
        flex-direction: column;

        .content__first {
          width: 100%;
        }

        .content__second {
          width: 100%;
          .content__performand {
            width: 100%;

            .content__pizza {
              flex-direction: column;

              .content__chart {
                height: 160px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .content__main {
    .content__nav {
      .content__container,
      .content__before,
      .content__after {
        .content__search {
          display: none;
        }
      }
    }

    .content__info {
      .content__container {
        gap: 12px;
        flex-wrap: wrap;
        .content__box {
          width: calc(25% -12px);
        }
      }
    }

    .content__services {
      margin-top: 10px;
      .content__container {
        .content__first {
          .content__revenue {
            .recharts-wrapper {
              height: 250px !important;
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    .content__apointments {
      .content__container {
        .content__financial {
          width: 100% !important;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .content__main {
    .content__nav {
      .content__container,
      .content__before,
      .content__after {
        .content__user > div {
          display: none;
        }
      }
    }

    .content__services {
      .content__container {
        .content__first {
          .content__revenue {
            .recharts-wrapper {
              height: 200px !important;
            }
          }
        }
      }
    }

    .content__apointments {
      padding-bottom: 25px;
    }
  }
}

@media (max-width: 480px) {
  .content__finances {
    .content__container {
      .content__tabs {
        .content__tab {
          > div {
            .content__banks {
              & .content__bank {
                .content__dots {
                  .verificado {
                    display: none;
                  }
                }
              }
            }

            .content__grid {
              display: flex !important;
              flex-direction: column !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .content__main {
    .content__services {
      .content__container {
        .content__first {
          .content__revenue {
            .recharts-wrapper {
              height: 150px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .content__main {
    .content__services {
      .content__container {
        .content__first {
          .content__revenue {
            .recharts-wrapper {
              height: 130px !important;
            }
          }
        }
      }
    }
  }
}
