/* global settings */

:root {
  --white: #f8f8fb;
  --black: #081325;
  --red: #e65662;
  --light: #dcddfc;
  --dark: #10192b;
  --gray: #757b90;
  --light-gray: #e8e8f5;
  --display: #5152ec;
  --blue: #63699f;
  --yellow: #eabf38;
  --brown: #423f34;
  --transition: 0.3s all ease-out;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* dashboard */

body {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.dotBase {
  position: relative;

  .content__menu {
    top: -40px;
    right: 0px;
    height: 30px !important;
    cursor: pointer;
  }
}

.more {
  background-color: var(--display);
  color: var(--white);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  transition: var(--transition);

  &:hover {
    background-color: #3131bb;
  }
}

.app {
  display: flex;
}

.content__table {
  width: 100%;

  tr {
    th {
      font-size: 12px;
      color: var(--gray);
      font-weight: 400;
      padding: 10px;
      text-align: left;
    }

    td {
      font-size: 12px;
      color: var(--dark);
      font-weight: 300;
      padding: 12px;
    }

    .editar {
      span {
        color: #1db455;
        cursor: pointer;
        font-weight: 700;
      }
    }

    .remover {
      span {
        color: var(--red);
        cursor: pointer;
        font-weight: 700;
      }
    }

    .today {
      color: #1db455;
      font-weight: 700;
    }
  }
}

.background-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

  .form-modal {
    background-color: var(--white);
    padding: 40px;
    border-radius: 14px;
    position: relative;
    position: relative;

    .selects {
      display: flex;
      gap: 10px;

      .select {
        border: 1px solid #dadada;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        cursor: pointer;
        transition: var(--transition);
        border-radius: 5px;

        svg {
          font-size: 30px;
        }

        h3 {
          font-size: 14px;
          color: var(--display);
          white-space: nowrap;
        }

        &:hover {
          background-color: var(--display);
          color: var(--white);
        }
      }
    }

    h2 {
      font-size: 28px;
      color: #151829;
      margin-bottom: 10px;
    }

    > p {
      color: #5b617a;
      font-size: 15px;
      font-weight: 500;
    }

    .close {
      color: #767676;
      font-size: 25px;
      font-weight: 300;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }

    label {
      font-weight: 600;
      color: #202139;
      font-size: 16px;
      display: block;
      margin-bottom: 15px;
      margin-top: 30px;
    }

    input,
    select {
      display: block;
      width: 100%;
      padding: 12px;
      border: 1px solid #c1c1c7;
      border-radius: 5px;

      &::placeholder {
        font-size: 15px;
      }

      &:focus {
        outline: none;
      }
    }

    .buttons {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      button {
        border-radius: 5px;
        font-weight: 700;
        width: 100%;
        display: block;
        padding: 10px;
        cursor: pointer;
        color: var(--display);
        border: none;
        font-size: 17px;
      }

      button:nth-of-type(2) {
        color: var(--white);
        background-color: var(--display);
        transition: var(--transition);

        &:hover {
          background-color: #3131bb;
        }
      }
    }
  }
}

.content__menu {
  position: absolute;
  right: 0;
  width: 140px;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  bottom: -70px;
  z-index: -1;
  opacity: 0;
  overflow: hidden;

  li {
    white-space: nowrap;
    padding-left: 15px;
    border-bottom: 1px solid var(--light-gray);

    &:hover {
      background-color: var(--display);

      a,
      svg {
        color: var(--white);
      }
    }

    a {
      padding: 5px 10px 5px 4px;
      display: inline-flex;
      text-align: center;
      font-size: 14px;
      color: var(--gray);
    }
  }
}

.content__menu--active {
  z-index: 100;
  opacity: 1;
}

/* responsive settings */

@media (max-width: 990px) {
  .content__area {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .content__table {
      min-width: 800px;
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .background-modal {
    .form-modal {
      padding: 22px;
      margin: 0 auto;
      width: 85%;
      max-width: 450px;

      .selects {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 480px) {
  .background-modal {
    .form-modal {
      h2 {
        font-size: 22px;
      }

      > p {
        font-size: 12px;
      }

      button {
        font-size: 14px !important;
      }
    }
  }
}
