.aside__main {
  background-color: var(--dark);
  min-height: 100svh;
  width: 20%;
  max-width: 200px;
  overflow: hidden;
  transition: var(--transition);

  .aside__container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    min-height: 80svh;

    .aside__close {
      position: fixed;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: var(--brown);
      border: 1px solid var(--yellow);
      color: var(--light);
      font-size: 24px;
      z-index: 120;
      display: none;
      align-items: flex-start;
      justify-content: center;
      padding-top: 15px;
      cursor: pointer;
    }

    .aside__menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style: none;

      .aside__link {
        color: var(--light);
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        gap: 15px;
        font-size: 13px;
        font-weight: 600;
        transition: var(--transition);

        &:hover {
          background-color: var(--display);
          color: var(--white);
        }
      }

      .aside__link--active {
        background-color: var(--display);
        color: var(--white);
      }
    }

    .aside__premium {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      color: var(--light);
      background-color: #192437;
      border-radius: 10px;
      padding: 25px;
      text-align: center;

      .aside__crown {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--brown);
        color: var(--yellow);
        margin: 0 auto 15px auto;
      }

      h3 {
        font-size: 14px;
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p:nth-of-type(1) {
        font-size: 10px;
        font-weight: 300;
      }

      a {
        background-color: #22355a;
        padding: 12px 15px;
        text-align: center;
        border-radius: 5px;
        white-space: nowrap;
        color: var(--light);
        font-weight: 700;
        font-size: 12px;
        width: 100%;
        margin-top: 15px;
        display: block;
        transition: var(--transition);

        &:hover {
          background-color: #14223d;
          transform: scale(105%);
        }
      }
    }
  }

  .aside__logo {
    width: 100%;
  }

  .aside__logo-mobile {
    display: none;
    width: 100%;
  }
}

.aside__main--active {
  width: 8%;
  max-width: 70px;
  min-width: 65px;

  .aside__logo-mobile {
    display: block;
  }

  .aside__logo {
    display: none;
  }

  .aside__container {
    position: sticky;

    .aside__nav {
      .aside__menu {
        .aside__item {
          .aside__link {
            padding: 7px;
            height: auto;
          }

          span {
            display: none;
          }
        }

        .aside__link svg {
          font-size: 40px;
          width: 20px;
          height: 25px;
        }
      }
    }
  }

  .aside__premium {
    display: none;
  }
}

/* responsive settings */

@media (max-width: 990px) {
  .aside__main {
    width: 8%;
    max-width: 70px;
    min-width: 65px;

    .aside__logo-mobile {
      display: block;
    }

    .aside__logo {
      display: none;
    }

    .aside__container {
      position: sticky;

      .aside__nav {
        .aside__menu {
          .aside__item {
            .aside__link {
              padding: 7px;
              height: auto;
            }

            span {
              display: none;
            }
          }

          .aside__link svg {
            font-size: 40px;
            width: 20px;
            height: 25px;
          }
        }
      }

      .aside__premium {
        display: none;
      }
    }
  }

  .aside__main--active {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    z-index: 100;

    .aside__logo-mobile {
      display: none;
    }

    .aside__logo {
      display: block;
    }
  }
}

@media (max-width: 580px) {
  .aside__main--active {
    overflow: hidden;

    .aside__logo {
      object-fit: cover;
      max-height: 120px;
    }

    .aside__container {
      .aside__close {
        display: flex;
      }

      .aside__nav {
        .aside__menu {
          margin-top: 20px;
          .aside__link svg {
            font-size: 408px;
            width: 35px;
            height: 28px;
          }
          .aside__item {
            .aside__link {
              padding: 10px;
              height: auto;
            }

            span {
              display: block;
            }
          }
        }
      }
    }
  }
}
